<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
    <title>socket 실습</title>
</head>

<body>
    <!-- test0 -->
    <!-- <h1>Hello Wolrd!</h1>
    <button type="button" id="hello">hello</button>
    <button type="button" id="study">study</button>
    <button type="button" id="bye">bye</button>

    <script>
        var socket = io.connect();
        socket.on("test", function() {

        });
        document.getElementById("hello").addEventListener("click", function() {
            socket.emit("test", "hello");
        })
        document.getElementById("study").addEventListener("click", function() {
            socket.emit("test", "study");
        })
        document.getElementById("bye").addEventListener("click", function() {
            socket.emit("test", "bye");
        })
    </script> -->
    <script>
        // var socket = io.connect();
        // socket.emit("welcome", "(클라이언트) 반가워");

        // socket.on("Welcome From Server", (data) => {
        //     console.log(data);
        //     console.log(data.name, data.msg)
        // });

        // 입장 퇴장
    </script>
</body>

</html>